<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/assets/themes/alphatwit/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/themes/alphatwit/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/themes/alphatwit/css/docs.css" rel="stylesheet">
    <link href="/assets/themes/alphatwit/js/google-code-prettify/prettify.css" rel="stylesheet">

    <link href="http://alphageekz.com/atom.xml" rel="alternate" title="RSS" type="application/rss+xml" />
     

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images  -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">


  </head>

  <body>


  <!-- Navbar
    ================================================== -->
  	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>

          </a>
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div>
    </div>
        <div class="container">
<section id="grid-system">

  <div class="row">
    <div class="span8" data-original-title="">

        {{ content }}

    </div>
        
    <div class="span4" data-original-title="">

            <a  title="RSS 2.0 feed for posts" rel="alternate" href="http://alphageekz.com/atom.xml">
              <img src="/assets/themes/alphatwit/img/rss-button.gif" alt="latest posts" title="latest posts">
            </a>


            <div >
              <h2>About</h2>
              <p>My name is Jd Geier, Anarcho-Transhumanist and megalomaniac extraordinaire.</p>
              
            </div>


              <h2>Recent Posts</h2>
              <ul>
                {% for post in site.posts limit:10 %}
                <li>
                  <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
                </li>
                {% endfor %}
              </ul>  
              
    </div>
    <footer>
        <p>&copy; {{ site.author.name }} 2012 
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>
<a href="http://github.com/jdgeier"><img style="position: absolute; top: 40px; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>

    </div> <!-- /container -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="/assets/themes/alphatwit/js/jquery.js"></script>
    <script src="/assets/themes/alphatwit/js/google-code-prettify/prettify.js"></script>
    <script src="/assets/themes/alphatwit/js/bootstrap-transition.js"></script>
    <script src="/assets/themes/alphatwit/js/bootstrap-alert.js"></script>
    <script src="/assets/themes/alphatwit/js/bootstrap-modal.js"></script>
    <script src="/assets/themes/alphatwit/js/bootstrap-dropdown.js"></script>
    <script src="/assets/themes/alphatwit/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/themes/alphatwit/js/bootstrap-tab.js"></script>
    <script src="/assets/themes/alphatwit/js/bootstrap-tooltip.js"></script>
    <script src="/assets/themes/alphatwit/js/bootstrap-popover.js"></script>
    <script src="/assets/themes/alphatwit/js/bootstrap-button.js"></script>
    <script src="/assets/themes/alphatwit/js/bootstrap-collapse.js"></script>
    <script src="/assets/themes/alphatwit/js/bootstrap-carousel.js"></script>
    <script src="/assets/themes/alphatwit/js/bootstrap-typeahead.js"></script>
    <script src="/assets/themes/alphatwit/js/application.js"></script>
    <script type="text/javascript">
    
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{ 
var pageTracker = _gat._getTracker("UA-28706837-1");
pageTracker._trackPageview();
} catch(err) {} 
</script>
  </body>
</html>
